{% extends 'stockmgmt/home.html' %}
{% load crispy_forms_tags %}


{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary btn-block" type="submit" value="Save"/>
            </form>
    </div>
    <div class="col-sm-4"></div>
</div>
{% endblock %}