{% extends 'stockmgmt/home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    {{ title }}
{% endblock %}

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Search"/>
    </form>
    <br>
    <div class="display_table">
        <table class='table'>
            <thead>
            <tr>
                <th>COUNT</th>
                <th>CATEGORY</th>
                <th>ITEM NAME</th>
                <th>LAST UPDATED</th>
                <th>QUANTITY IN STORE</th>
                <th>REORDER LEVEL</th>
                <th>Delete</th>
            </tr>
            </thead>
            {% for instance in queryset %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ instance.category }}</td>
                    <td><a href="{% url 'update_items' instance.id %}">
                        {{ instance.item_name }}</a></td>
                    <td> {{ instance.last_updated }}</td>
                    <td>
                        <a href="{% url 'stock_detail' instance.id %}">
                            {% if instance.quantity <= instance.reorder_level %}
                                <div style="background-color: orangered">
                                    {{ instance.quantity }}
                                </div>
                            {% else %}

                                {{ instance.quantity }}
                            {% endif %}
                        </a>

                    </td>
                    <td><a href="{% url 'reorder_level' instance.id %}">
                        {{ instance.reorder_level }}
                    </a>
                    </td>
                    <td>
                        <a href="{% url 'delete_items' instance.id %}">
                            <img src="{% static 'stockmgmt/img/trash.png' %}" style=width:20px;height:20px;>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}