{% extends 'stockmgmt/home.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    {{ title }}
{% endblock %}

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="search"/>
    </form>
    <br>
    <div class="display_table">
        <table class='table'>
            <thead>
            <tr>
                <th>COUNT</th>
                <th>CATEGORY</th>
                <th>ITEM NAME</th>
                <th>QUANTITY IN STORE</th>
            </tr>
            </thead>
            {% for instance in queryset %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ instance.category }}</td>
                    <td><a href="{% url 'update_items' instance.id %}">
                        {{ instance.item_name }}</a></td>
                    <td>{{ instance.quantity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}