<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Store mgmt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_items' %}">List Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_items' %}">Add Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category_list' %}">List category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
                <li><a href="/accounts/logout">
                    <button class="btn btn-primary">{{ user }} | Logout</button>
                </a></li>
            {% else %}
                <li><a href="/accounts/login">
                    <button class="btn btn-primary">Login</button>
                </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
